article {
  margin-bottom: 8px;
  text-align: justify;
}

h1 {
  margin: 24px 0;
  text-align: left;
}

a {
  font-weight: bolder;
  font-size: 17px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 26px;
  }
}
