.skill-card {
  padding: 16px;
  width: 15em;
  background-color: #FFF;
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  cursor: pointer;
  transition: box-shadow .5s;
  border-radius: 8px;
  overflow: hidden;
}

.skill-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
}

.skill-card__header {
  position: relative;
  height: 170px;
  margin: -20px -20px 20px -20px;
  overflow: hidden;
  transition: height .5s;
}

.skill-card:hover .skill-card__header {
  height: 40px;
}

.skill-card__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: block;
  height: 128px;
  width: auto;
  transition: transform .5s;
}

.skill-card:hover .skill-card__icon {
  transform: translateX(-50%) translateY(-50%) scale(3);
}

.skill-card__body {
  height: 40px;
  overflow: hidden;
  transition: height .5s;
}

.skill-card:hover .skill-card__body {
  height: 170px;
}

.skill-card__title {
  color: var(--background);
  font-size: 1.4em;
  font-weight: 600;
  text-transform: uppercase;
}

.skill-card__duration {
  color: #9E9E9E;
  font-style: italic;
}

.skill-card__knowledge {
  margin-top: 10px;
  color: #424242;
}

.skill-card__knowledge li {
  margin-top: 5px;
  transition-duration: 0s;
  transition-delay: .5s;
  transform: translateX(-100%);
}

.skill-card:hover .skill-card__knowledge li {
  transform: translateX(0);
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1.5, 1, 1);
}

.skill-card:hover .skill-card__knowledge li:nth-child(1) {
  transition-delay: calc(1 * .25s);
}

.skill-card:hover .skill-card__knowledge li:nth-child(2) {
  transition-delay: calc(2 * .25s);
}

.skill-card:hover .skill-card__knowledge li:nth-child(3) {
  transition-delay: calc(3 * .25s);
}

.skill-card:hover .skill-card__knowledge li:nth-child(4) {
  transition-delay: calc(4 * .25s);
}

.skill-card:hover .skill-card__knowledge li:nth-child(5) {
  transition-delay: calc(5 * .25s);
}

.skill-card:hover .skill-card__knowledge li:nth-child(6) {
  transition-delay: calc(6 * .25s);
}

@media (max-width: 730px) {
  .skill-card {
    padding: 8px;
    width: 7em;
  }

  .skill-card__header {
    height: 85px;
    margin: -10px -10px 10px -10px;
  }

  .skill-card:hover .skill-card__header {
    height: 20px;
  }

  .skill-card:hover .skill-card__body {
    height: 85px;
  }

  .skill-card__title {
    font-size: 0.7em;
  }

  .skill-card__knowledge {
    margin-top: 5px;
  }

  .skill-card__knowledge li {
    margin-top: 2px;
  }

  .skill-card__icon {
    height: 64px;
    width: auto;
  }

}
