.element-container{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.social-container{
  margin-right: 24px;
  display: flex;
  gap: 8px;
}

.download-btn {
  display: inline-block;
  padding: 8px 16px;
  background: var(--accent);
  color:  var(--background);
  border-radius: 6px;
  text-decoration: none;
}

.download-btn:hover {
  background: var(--primary);
}

.pi{
  font-size: 36px;
  color: var(--text);
}
