/* You can add global styles to this file, and also import other style files */
@import "./tailwind.css";
@import "primeicons/primeicons.css";

@font-face {
  font-family: poetsen;
  src: url(../public/assets/fonts/Jersey25-Regular.ttf) format("opentype");
}

@font-face {
  font-family: sansation;
  src: url(../public/assets/fonts/Sansation-Regular.ttf) format("opentype");
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121f3b;
    --text: #eaf0f6;
    --primary: #2d51a4;
    --secondary: #8ea3c7;
    --accent: #4da9ff;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #c4d1ed;
    --text: #090f15;
    --primary: #5b7fd2;
    --secondary: #384d71;
    --accent: #005cb3;
  }
}

$text-size: 20px;
$title3-size: 30px;
$title2-size: 40px;
$title1-size: 50px;

body {
  color: var(--text);
  padding: 0 172px;
  font-family: 'sansation', 'arial', sans-serif;
}

main {
  padding: 0 64px;
}

p {
  font-size: $text-size;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'poetsen', 'arial', sans-serif;
}

h3 {
  font-size: $title3-size;
}

h2 {
  font-size: $title2-size;
}

h1 {
  font-size: $title1-size;
}
